@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #153677, #4e085f); */
    background-color: #aaa;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 20px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    margin-bottom: 20px;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    margin-bottom: 25px;
}

.row input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
}

.row button {
    border: none;
    outline: none;
    padding: 16px 40px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: all ease 0.2s;
}

.row button:active {
    background-color: #666;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid #666;
    top: 8px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-color: rgb(23, 175, 23);
}

ul li span {
    position: absolute;
    right: 0;
    top: 7px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #333;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #edeef0;
}

ul li span:active {
    background-color: rgb(229, 0, 0);
}

p {
    color: #333;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .todo-app {
        width: 90%;
        margin: 50px auto 20px;
        padding: 20px 10px 50px;
    }

    .row {
        flex-direction: column;
    }

    .row input {
        margin-bottom: 15px;
        border-radius: 13px 13px 0 0; /* Adjusted border-radius */
    }

    .row button {
        padding: 12px 20px;
        margin-top: 15px;
        width: 100%;
        border-radius: 0 0 13px 13px;
    }

    ul li {
        padding: 10px;
    }

    ul li span {
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
    }
}
